body {
  background-color: #fdfdfd;
}

.abs-panel {
  top: 15px;
  right: 15px;
  position: absolute;
  background: #f3f3f3;
}

.settingspanel {
  padding: 15px;
  border: 1px solid #010101;
  z-index: 10;
}

.mainsndholder {
  z-index: 0;
  margin-top: 10px;
}

.audiosrc {
  z-index: 0;
  width: 100%;
}

.donate-image {
  width: 250px;
}

.donate-image img {
  width: 225px;
  padding: 10px;
}

.title-image {
  width: 128px;
}

.loader-image {
  width: 48px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.util-image {
  width: 36px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.small-util-image {
  width: 20px;
  margin-left: auto;
  margin-right: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

.download-image {
  width: 48px;
  padding-left: 15px;
  padding-right: 15px;
}

div {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 2px;
  padding-bottom: 5px;
}

.pattern-image {
  width: 100%;
}

.pattern-image-bottom {
  width: 100%;
}

img {
	margin-top: 2px;
	margin-bottom: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
}


.wide85 {
  width: 85%;
}

.wide75 {
  width: 75%;
}

.centerme {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.plusbtn, .minusbtn {
  width: 45px;
  height: 45px;
  font-size: 1.2em;
}

.blockinput {
  width: 45px;
  height: 45px;
}

.tuplecheckbox {
  height: 25px;
  width: 25px;
}

.tuplelabel input[type="checkbox"],
.tuplelabel .checkimg {
    display: none;
}
 
.tuplelabel input[type="checkbox"]:checked ~ .checkimg
{
    display: inline-block;
}
 
.tuplelabel input[type="checkbox"]:checked ~ .uncheckimg
{
    display: none;
}

.tuplelabel img {
  width: 45px;
  height: 45px;
}

.uncheckimg {
   opacity: 0.3;
}
