body {
  background-color: #ffffff;
}

.abs-panel {
  top: 15px;
  right: 15px;
  position: absolute;
  background: #f3f3f3;
}

.settingspanel {
  padding: 15px;
  border: 1px solid #010101;
  z-index: 100;
}

.donate-image {
  width: 250px;
}

.donate-image img {
  width: 225px;
  padding: 10px;
}

.util-image {
  width: 36px;
  margin-left: auto;
  margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.download-image {
  width: 48px;
	padding-left: 15px;
	padding-right: 15px;
}

div {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 2px;
  padding-bottom: 5px;
}

.pattern-image {
  width: 100%;
}

.pattern-image-bottom {
  width: 100%;
}

img {
	margin-top: 2px;
	margin-bottom: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.wide75 {
  width: 75%;
}

.centerme {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
