@media print {
 @page {
   size: auto;   /* auto is the initial value */
   margin: 0mm;  /* this affects the margin in the printer settings */
 }
 #navHolder {
   display : none;
 } 
 .navHolder {
   display : none;
 } 
 #mainHolder div {
    width: 256px;
 }
 #mainHolder div img {
    width: 240px;
 }
 .title-image {
   width: 54px;
 }
}
